[submodule "raygene3d-core"]
	path = raygene3d-core
	url = https://github.com/raygene3d-team/raygene3d-core.git
[submodule "raygene3d-util"]
	path = raygene3d-util
	url = https://github.com/raygene3d-team/raygene3d-util.git
[submodule "raygene3d-root"]
	path = raygene3d-root
	url = https://github.com/raygene3d-team/raygene3d-root.git
[submodule "raygene3d-data"]
	path = raygene3d-data
	url = git@github.com:raygene3d-team/raygene3d-data.git
